// color
$color-gray: #cccccc;
$color-gray-1: #959595;
$color-gray-2: #fafafa;
$color-gray-3: #e0e0e0;
$color-gray-4: #fbfbfb;
$color-gray-5: #757575;
$color-gray-6: #f7f8fa;
$color-gray-7: #6f6f6f;
$color-white: #ffffff;
$color-green: #1ea755;
$color-green-2: #329736;
$color-black: #000;
$color-black-secondary: #666;
$color-red: #e42a1d;
$color-amber: #f39100;
$color-blue: #1867c0;
$color-purple: #9c27b0;

// primary style
$primary-color: #2196f3;
$secondary-color: #f4f4f4;
$color-text-primary: #3e3e3e;
$color-border-gray: $color-gray;

// global size
$header-height: 64px;
$footer-height: 44px;
$font-sm: 0.875rem;
